
   
   /*css*/
* {
    box-sizing: border-box;
  }
  
  form {
    padding: 23em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
  }
  form input {
    margin-bottom: 0.7rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.7rem;
  }
  form button {
    background: lightgrey;
    padding: 0.7em;
    border: 0;
  }
  form button:hover {
    background: gold;
  }
  
  label {
    text-align: left;
    display: block;
    padding: 0em 1.5em 0.5em 0;
  }
  
  select{
    margin-bottom: 0.7rem;
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 100%;
    padding: 0.7em;
    margin-bottom: 0.7rem;
  }
 
  input:focus {
    outline: 3px solid rgb(16, 67, 209);
  }

  .buttonG{
  font-size: 12pt;
	background: #12a4c6;
	padding: 10px 10px 10 px 30%;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
  margin: 35px auto;
  
  }
  
  .buttonC{
    font-size: 12pt;
	background: #12a4c6;
	padding: 10px;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	margin: 35px auto;
  }
 h1{
   padding: 20px;
 }
  