@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ededed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'arial';
    font-weight: bold;
    letter-spacing: 1px;
}
h1{
	font-size: 26px;
	/* padding: 10px; */
}
h2{
	font-size: 20px;
}
h3{	
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}
p{
	font-family: 'arial';
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 20px;
}
a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
span {
    font-family: 'GothamBook';
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
}
header{
	position: fixed;
	width: 100%;
}
.header{
	color: #FFF;
	background: #0a4661;
	height: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.optionsBar{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionsBar span {
    color: #FFF;
    font-size: 11pt;
    font-family: 'GothamBook';
    text-transform: uppercase;
    margin-left: 30px;
}
.photouser {
    margin-left: 30px;
    width: 25px;
    height: 25px;
}
.close{
	width: 25px;
    height: 25px;
}
.optionsBar a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-left: 30px;
}
nav ul{
	background: #058167;
	/*background: #05817d;*/
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: left;
	align-items: center;
}
nav ul > li a{
	position: relative;
}
nav a{
	color: #FFF;
	display: block;
	font-size: 10pt;
	font-family: 'GothamBook';
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
	border-right: 1px solid #319B8F;
}
nav .principal > a{
    background: url(../images/arrow_bottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 94% center;
    background-size: 10px;
}
nav ul li:hover ul{
	display: block;
}
nav li ul{
	/*background: #177470;*/
	background: #2d9872;
	display: none;
	flex-direction: column;
	position: absolute;
	align-items: flex-start;
	border-radius: 0 0 10px 10px;
}
nav li ul a{
	position: relative;
	padding: 10px 30px;
	border-right: initial;
}
nav li ul a:hover{
	/*background: #2c9595;*/
	background: #147556;
}
nav li ul li:last-child{
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
#container{
	padding: 90px 15px 15px;
}
/*****************************************************************/
.form_horario{ /* el (.) punto indica clase */
	width: 1200px;
	margin: auto; /*para centrar la caja*/
}

#form_horario{
	float:left;
}

.form_horario h1{ /* de la clase form_horario al h1 dentro */
	color: #3c93b0;
	
}

.form_horario .btn_save{
	width: 160px;
	clear: both;
}

.caja{
	/* display: inline-block; */
	float:left;
	width: 500px;
	padding: 30px;
}

.grupo_dias{
	height: 530px;

}

.grupo_dias input{
	width: 13px;
	height: 13px;
	padding: 5;
	margin: 5;
	display: inline-block;
	/* vertical-align: bottom; */
	position: relative;
	/*top: 100px;
	overflow: hidden;*/
}

.grupo_dias label{
	display: block;
	padding-left: 15px;
	text-indent: 15px;
	padding: 5;
	margin: 5;
}


fieldset{
	/* display: block; */
	font-size: 12pt;
	font-family: 'GothamBook';
	padding: 25px;
	/*padding: 5px;*/
	border-radius: 6px;
	border: 1px solid #85929e;
	display: block;
	font-size: 12pt;
	margin: 20px auto 5px auto;
}



hr{
	border: 0;
	background: #CCC; /* gris */
	height: 1px; /* alto */
	margin: 50px, 0; /* arriba y abajo 10px y 0 a los lados */
	display: block; /* ocupar todo el ancho */
}

form{ /* etiqueta */
	background: #FFF; /* fondo blanco */
	margin: auto;
	padding: 20px 50px; /* 20px arriba y abajo y 50px lados */
	border: 1px solid #d1d1d1;
}

label{
	display: block;
	font-size: 12pt;
	font-family: 'GothamBook';
	margin: 20px auto 5px auto;
}

input,select,textarea{
	display: block;
	width: 100%;
	font-size: 11pt;
	padding: 5px;
	border: 1px solid #85929e;
	border-radius: 5px;
}

.notItemOne option:first-child{
	display: none;
}

.btn_save{
	font-size: 12pt;
	background: #12a4c6;
	padding: 10px;
	color: #fff;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
	margin: 35px auto;
}

.alert{
	width: 100%;
	background:  #66e07d66;
	border-radius: 6px;
	margin: 20px auto;
}

.msg_error{
	color: #e65656;
}

.msg_save{
	color: #126e00;
}

.alert p{
	padding: 10px;
}

/***************************************************************************/

/*---------------- lista usuario */

#container h1{
	font-size: 35px;
	display: inline-block;

}

.btn_new{
	display: inline-block;
	background:  #239baa;
	color: #FFF;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}

table{
	padding: 10px;
	border-collapse: collapse;
	font-size: 12pt;
	font-family: 'arial';
	width: 100%

}

table th{
	text-align: left;
	padding:  10px;
	background: #4d7ba8;
	color: #fff;
}

table tr:nth-child(odd){
	background: #fff;
}

table td{
	padding: 10px;
}

.link_edit{
	color: #0ca4ce;
}

.link_delete{
	color: #f26b6b;
}


input[type=radio] {
margin-left:15px;
margin-top:10px
}

/*****************buscador*************/
.form_search{
	width: 30%;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius: 10px;

}

.btn_search{
	background: #1faac8;
	color:#fff;
	padding: 0 20px;
	border: 0;
	cursor: pointer;
	margin-left: 10px; 
}